/config/.env
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
/config/.env

# Logs
logs/
*.log

# Dossiers système
.DS_Store
Thumbs.db

# Fichiers de build
dist/
build/

# IDE et éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
